.App {
  text-align: center;
  width:600px;
  margin: auto;
  background-color: gainsboro;
  padding: 5px;
}
.header{
  margin:2em 0 2em 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid;
}

.header a{
  text-decoration: none;
  margin:0 1em 0 1em;
  color:brown 
}
div{
  margin: 10px;
}

.error{
  color:red;
}

.signedIn{
  background-color: bisque;
  color:tomato;
  padding: 5px;
  
}


